// $roboto__14: 400 14px 'Roboto', sans-serif;
// $roboto__16: 400 16px 'Roboto', sans-serif;
// $roboto__18: 400 18px 'Roboto', sans-serif;
// $roboto__20: 500 20px 'Roboto', sans-serif;
// $roboto_slab_18: 700 18px 'Roboto Slab', serif;
// $roboto_slab_20: 700 20px 'Roboto Slab', serif;
// $roboto_slab_24: 700 24px 'Roboto Slab', serif;
// $roboto_slab_30: 700 30px 'Roboto Slab', serif;

$primary-color: #b2a89e;
$secundary-color: #a4b29e;
$tres:#f5f4ef;
$cuatro:#968776;
$black:#bba993;