
$white-semi: #faf9f7;
$red: #680104;
$green-soft:#687d5e;
$primary-color: #e1e1e1;
$back-ground: #e1e1e18a;
$green-dark:#1f261a;

/*font-family: 'Cookie',
cursive;
font-family: 'Montserrat',
sans-serif;
font-family: 'Yellowtail',
cursive;
*/