.footer {
border-top: solid 1px $green-dark;
height: 50px;
    &__title {
        color:$green-dark;
        text-decoration: none;
        font-family: 'Cookie', cursive;
        font-size: 20px;
        padding: 20px;
        text-align: end;
        @include tablet {
            padding-right: 50px;
            font-size: 30px;
        }
        @include desktop {
            padding-right: 140px;
         }
    }
}