.header {
    background: url(../images/1.jpg);
    background-position: left 40%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    @include tablet {
        padding-right: 30px;
    }
    &__title {
        color: #e1e1e1;
        text-decoration: none;
        font-family: 'Cookie', cursive;
        font-size: 20px;
        padding: 0 30px;
        @include tablet {
            font-size: 40px;
        }
    }
}