.body {
    // height: 100vh;
    font-family: 'Montserrat',
        sans-serif;
}
.main {
    display: flex;
    align-items: center;
    justify-items: center;
    padding:20px 10px; 
    flex-direction: column-reverse;
   background-color: #e1e1e1a4;

    @include tablet {
        padding: 20px;
        flex-direction: row;
        align-items: flex-start;
            justify-content: space-around;


    }
}