.body {
    height: 100vh;
    font-family: 'Montserrat',
        sans-serif;
}


.main {
    background-color: #f6f3ef;
    height: 100%;
    display: flex;

    align-items: first baseline;
    gap: 90px;
}