.landing {
    background: url(../images/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
    @include tablet {
    background-position: right 75%;
    }     
    &__title {
        color: $primary-color;
        margin-bottom: 20px;
        font-family: 'Cookie',cursive;
        font-size: 60px;
        padding-top: 100px;
    }
    &__btn{
        margin: 0 auto;
        text-decoration: none;
        font-size: 18px;
        color: $primary-color;
        font-weight: 500;
        cursor: pointer;
        border: none;
        position: relative;
        background: none;
        text-transform: uppercase;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color;
        &:focus,
        &:hover {
            color: $primary-color;
            }
        &:focus:after,
        &:hover:after {
            width: 100%;
            left: 0%;
        }
        &:after {
            content: "";
            pointer-events: none;
            bottom: -2px;
            left: 50%;
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: $primary-color;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 400ms;
            transition-property: width, left;
        }
    }
}