
.section__list {
    max-width: 50vw;
    &_ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        // padding: 0 20px;
    }
    &_title {
        
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 30px;
        text-align: center;
        // border-bottom: solid 1px $green-dark;
        // width: 130px;
        @include tablet {
            // border-bottom: solid 1px $green-dark;
                // width: 325px;
               margin-bottom: 5px;
               align-self: flex-start;
            }
        @include desktop {
            margin-bottom: 5px;
        }
      
        
    }
}
.li__img {
    width: 120px;
    border-radius: 2%;
    margin-bottom: 10px;
    
}
.li__element {
    text-align: center;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: auto;

}

.icon__like {
 order: -1;
 position: relative;
 top: 20px;
 left: 55px;
 font-size: 20px;
 color:#e1e1e1;
 background-color:$red;
 padding: 8px;
 border-radius: 50%;
}

.li__title{
    font-weight: 500;
    padding-top: 15px;
}

.selected__fav {
    border: solid 2px $green-dark;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    transition: 2s ;

    height: 50px;
    }
