
.section__fav {
    width: 80vw;
    position: relative;
    bottom: 250px;
     
    @include tablet{
        width: 30%;
        margin-right: 20px;
        
    }
}
.section__fav_title{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
}

.section__fav_ul {
    // border-left: solid 1px #1f261a;
    display: flex;
    flex-direction: column;
    gap: 10px;
    // padding-left: 10px;
    align-items: flex-start;
@include tablet {
    // padding-left: 20px;
}
}



///
.icon__delete {
    width: 15px;
    color: #1f261a;
    transform: scale(1.2);
        transition: .2s linear;
}

.icon__delete:hover{
    transform: scale(1.5);
}



.li__element_fav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 245px;
    // background-color: #687d5e;
    border: solid 2px $green-dark;
    border-radius: 5px;
    padding: 3px 15px 3px 5px;
    @include tablet {
        width: 300px;
        // padding-left: 20px;
    }
}
.li__img_fav {
    border-radius: 50%;
    height: 90%;
}
.li__title_fav{
 font-size: 14px;
 padding: 0 10px;
 color: #1f261a;
 text-align: center;
font-weight: 500;
}

