
.section__fav {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet{
    width: 30%;
    margin-right: 20px; 
    }
}
.section__fav_title{
    margin: 10px 0 20px 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.section__fav_ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // padding-left: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.icon__delete {
    width: 15px;
    color: #1f261a;
    transform: scale(1.2);
    transition: .2s linear;
}
.icon__delete:hover{
    transform: scale(1.5);
}
.li__element_fav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 245px;
    border: solid 2px $green-dark;
    border-radius: 5px;
    padding: 3px 15px 3px 5px;
    @include tablet {
        width: 300px;
    }
}
.li__img_fav {
    border-radius: 50%;
    height: 90%;
}
.li__title_fav{
 font-size: 14px;
 padding: 0 10px;
 color: #1f261a;
 text-align: center;
font-weight: 500;
}

